@import url(//fonts.googleapis.com/css?family=Lato:700);
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #999;
}

/* HEADER */
#header{
	width: 100%;
    height: 14%;
    background-color: #b7f2ea;
    margin-top: -10px;
    border-bottom: 1px solid black;
}
.header-text{
    padding-top: 2%;
}

/* SIDEBAR */
#sidebar {    
    position: absolute;
	float: left;
	margin-left: -10px;
	width: 13%;
	height: 100%;
}

#items {
    position: relative;
	background-color: #f2dbb7;
	padding-top: 40px;
	height: 100%;
	width: 100%;
	text-align: center;
}

a,
a:visited {
    text-decoration: none;
}

h1 {
    font-size: 32px;
    margin: 16px 0 0 0;
}

h2 {
    font-size: 24px;
    margin: 16px 0;
}

#login {
    margin-top: 50px;
}

.login_warning, .pw_error{
    color: red;
}

/* USERS TABLE */
table {
    margin-left:20%;
    margin-top: 5%;
	width: 60%;
}
table, th, tr, td{
	text-align: center;
  }

  table, th, tr {
	border: 1px solid black;
	text-align: center;
  }

#edit-user{
    margin: 5% 0;
}

/* BUTTONS */

.btn{
  align-items: center;
  background: #abe4f8;
    border: solid 1px #8cc5d9;
    box-shadow: inset 0 0 0 1px #cdeffb;
    color: #42788e;
    text-shadow: 0 1px 0 #b6e6f9;
    padding:5px;
    border-radius: 5px;
}

.btn:hover{
    background: #80d4f5;
    border: solid 1px #79acbe;
    border-bottom: solid 3px #589cb6;
    box-shadow: inset 0 0 0 1px #b2e6f8; 
    padding:5px;
    border-radius: 5px;
}


/* FOOTER */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 2%;
}

.linkedin-logo{
    height: 18px;
    margin-right: 10px;
}